* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color:#ba57c9;
    font-family: "Kanit", sans-serif;
}


/*Hero section*/

.hero-section {
    background-image: url(/images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;

    h1 {
        padding: 50px;
        font-size: 42px;
        letter-spacing: 3;
        color: #fff;
    }

    form {
        margin-top: 30px;
        display: flex;
        background-color: rgba(186, 87, 201, 0.8);
    
        .input-field {
            width: 503px;
            height: 53px;
            text-align: center;
            border: none;

                &:hover{
                    border: 2px solid #3f9641;
                }
        }
    
        button {
            width: 153px;
            background-color: #0a0a0a;
            color: #fff;
            float: right;
            width: 120px;
            height: 50px;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            transition: 0.3s;
            
            
                &:hover {
                     background-color: #ba57c9;
                     border: 1px solid #fff;
                }
        }
    }

}



/*cards section*/


.card-section {
    padding-top: 50px;

        h2 {
            color: #fff;
            text-align: center;
            font-size: 36px;
            padding: 20px;
        }
}


.h-100 {
    background-color: #0a0a0a;
    color: #fff;
    width: 90%;
    border: none;
    transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
    
    p {
     font-weight: 400;
    }
}

/*Contact form*/

form {
    margin-top: 100px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 10px;

    .form-title {
        text-align: center;
        font-size: 36px;
    }

    .form-control, .form-select {
        border: none;

        &:hover{
            border: 2px solid #3f9641;
        }
    }

    .btn-primary {
        background-color: #ba57c9;
        border: none;
        width: 10%;
        transition: 0.3s;
        box-shadow: rgba(0,0,0,0.86);

                &:hover{
                    background-color: #3f9641;
                }

    }
}

/*Footer*/

footer {
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

    img {
        width: 50%;
    }

    .footer-links {
        display: flex;
        list-style: none;
        text-decoration: none;
        gap: 20px;
        transition: 0.2s;

        li a {
            list-style: none;
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}