* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: brown;
}



/*cards section*/


.card-section {
    padding-top: 50px;

        h2 {
            color: #fff;
            text-align: center;
            font-size: 36px;
            padding: 20px;
        }
}




.h-100 {
    background-color: aquamarine;
}